@font-face {
    font-family: 'georegular';
    src: url('css/fonts/geo-regular-webfont.woff2') format('woff2'),
         url('css/fonts/geo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Geo-Italic;
    src: url('Geo-Italic.ttf'),
}

h1 {
  font-family: georegular;
}

selectedrandom {
  font-family: Geo-Italic;
}

random {
  font-family: Geo-Italic;
}
