html {
    background: linear-gradient(146deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'georegular';
    src: url('css/fonts/geo/geo-regular-webfont.woff2') format('woff2'),
         url('css/fonts/geo/geo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geooblique';
    src: url('css/fonts/geoitalic/geo-italic-webfont.woff2') format('woff2'),
         url('css/fonts/geoitalic/geo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: georegular;
}
