html {
  background: linear-gradient(227deg, #833ab4, #fcb045);
  background-size: 230% 230%;

  -webkit-animation: background 5s ease infinite;
  -moz-animation: background 5s ease infinite;
  animation: background 5s ease infinite;
}

@-webkit-keyframes background {
  0% {
    background-position: 22% 0%
  }

  50% {
    background-position: 79% 100%
  }

  100% {
    background-position: 22% 0%
  }
}

@-moz-keyframes background {
  0% {
    background-position: 22% 0%
  }

  50% {
    background-position: 79% 100%
  }

  100% {
    background-position: 22% 0%
  }
}

@keyframes background {
  0% {
    background-position: 22% 0%
  }

  50% {
    background-position: 79% 100%
  }

  100% {
    background-position: 22% 0%
  }

}
